body {
    background-color: #837b7b;
    font-family: Arial, sans-serif;
    padding: 35px;
    text-align: center
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;    
    right: 0;   
    width: 100%;
    z-index: 1000; 
    color: #ffffff;
    font-size: 20px;
}

.myProfileImage-img {
    width: 80%;
    max-width: 250px; 
    border-radius: 1%; 
    border: 5px solid #C0C0C0; 
    margin: 0 auto;
}


section#index-name {
    padding: 1px;
    border-radius: 8px;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #ffffff;
    font-size: 20px;
    font-family: "Garamond", serif;
}

section#index-startingLine {
    border-radius: 8px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    font-family: "Papyrus", fantasy;
}

.navigationLinks {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    color: #ffffff;
}

.navigationButton {
    background-color: #C0C0C0; 
    color: #333;               
    padding: 8px 16px;         
    border-radius: 5px;        
    text-decoration: none;     
    font-weight: bold;
    display: inline-block;     
    transition: 0.3s;
}

.navigationButton:hover {
    background-color: #ce2222; 
    transform: scale(1.05);
}

.socialLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #ffffff;
}

.socialButton {
    background-color: #C0C0C0; 
    color: #333;              
    padding: 8px 16px;      
    border-radius: 5px;      
    text-decoration: none;   
    font-weight: bold;
    display: inline-block;   
    transition: 0.3s;
}

.socialButton:hover {
    background-color: #fffafa; 
    transform: scale(1.05);   
}